<div class="finance-header">
    <div class="filter-group">
        <mat-form-field appearance="outline">
            <mat-label>Filtrar por Data</mat-label>
            <input matInput [matDatepicker]="picker">
            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Categoria</mat-label>
            <mat-select [(ngModel)]="selectedCategory">
              <mat-option *ngFor="let category of categories" [value]="category.id">
                {{ category.name }}
              </mat-option>
            </mat-select>
          </mat-form-field>
    </div>

    <span class="button-group">
        <button mat-flat-button color="primary" (click)="openTransactionModal('income', 'create')">Adicionar Receita</button>
        <button mat-flat-button color="warn" (click)="openTransactionModal('expense', 'create')">Adicionar Despesa</button>
    </span>
</div>

<mat-table [dataSource]="dataSource"  class="mat-elevation-z8 demo-table">
    
    <ng-container matColumnDef="type">
        <mat-header-cell *matHeaderCellDef> Tipo </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <span  [ngClass]="element.type === 'INCOME' ? 'green' : element.type === 'EXPENSE' ? 'red' : ''">
            {{ element.type === 'INCOME' ? 'Receita' : element.type === 'EXPENSE' ? 'Despesa' : '' }}
            </span>
          </mat-cell>
    </ng-container>

    <ng-container matColumnDef="date">
        <mat-header-cell *matHeaderCellDef> Data </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.date }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="title">
        <mat-header-cell *matHeaderCellDef> Titulo </mat-header-cell>
        <mat-cell *matCellDef="let element"> {{ element.title }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="amount">
        <mat-header-cell *matHeaderCellDef> Valor </mat-header-cell>
        <mat-cell *matCellDef="let element"> R$ {{ element.amount | brl }} </mat-cell>
    </ng-container>

    <ng-container matColumnDef="actions">
        <mat-header-cell *matHeaderCellDef> </mat-header-cell>
        <mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="openTransactionModal('income', 'edit', element)">
                <mat-icon class="green">edit</mat-icon>
            </button>
            <button mat-icon-button (click)="openConfirm(element)">
                <mat-icon class="red">delete</mat-icon>
            </button>
        </mat-cell>
    </ng-container>

    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
</mat-table>