<h2>{{ data.mode === 'edit' ? 'Editar' : 'Adicionar' }} Categoria</h2>

<main>
    <mat-form-field class="full-width" appearance="outline">
        <mat-label>Nome</mat-label>
        <input matInput [(ngModel)]="name" required minlength="3"  #nameInput="ngModel"/>
        <mat-error *ngIf="nameInput.invalid && nameInput.touched">
            O nome deve ter pelo menos 3 caracteres.
        </mat-error>
    </mat-form-field>

    <div style="margin-top: 16px; display: flex; justify-content: flex-end; gap: 8px">
        <button mat-button (click)="cancel()">Cancelar</button>
        <button mat-raised-button color="primary" (click)="save()">Salvar</button>
    </div>
</main>