
html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-row .mat-mdc-cell {
    border: none;
    cursor: pointer;
}

.mat-mdc-row:hover .mat-mdc-cell {
    background-color: rgba(68, 134, 255, 0.05);
}

.green {
    color: green;
}

.red {
    color: red;
}

.no-data {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 16px;
}

.paginator {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 24px;
}