<div class="dashboard-cards">
    <mat-card class="card total-mes">
        <mat-card-title>Total do Mês</mat-card-title>
        <mat-card-content>
            <h2 [ngClass]="totalMes < 0 ? 'red' : 'green'">
                R$ {{ totalMes | brl }}
            </h2>
        </mat-card-content>
    </mat-card>

    <mat-card class="card receitas">
        <mat-card-title>Total de Receitas</mat-card-title>
        <mat-card-content>
            <h2 class="green">R$ {{ totalReceitas | brl }}</h2>
        </mat-card-content>
        <button mat-raised-button color="primary" (click)="openTransactionModal('income')">Adicionar Receita</button>
    </mat-card>

    <mat-card class="card despesas">
        <mat-card-title>Total de Despesas</mat-card-title>
        <mat-card-content>
            <h2 class="red">R$ {{ totalDespesas | brl }}</h2>
        </mat-card-content>
        <button mat-raised-button color="warn" (click)="openTransactionModal('expense')">Adicionar Despesa</button>
    </mat-card>
</div>